.wrapper-profile {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    min-height: 80vh;
    width: 60%;
    max-width: 700px;
    background: linear-gradient( to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.heading {
    display: flex;
    align-items: center;
}

    .heading img {
        height: 5rem;
        margin: 1rem;
    }

.profile ul {
    list-style: none;
    padding: 0;
}

.visuals,
.stats,
.extras {
    width: 60%;
    text-align: center;
}

.key-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .key-value .key::after {
        content: ":";
    }

    .key-value .value i {
        transition: color 0.25s;
    }

        .key-value .value i:hover {
            color: #1873eb;
            cursor: pointer;
        }

.extras button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 2.2rem;
    margin: 0.3rem;
    transition: color 0.25s;
}

    .extras button:hover {
        color: #1873eb;
    }
