@page "/"
@page "/{gameCode}"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation
@inject Player Player 
@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<div class="container text-center bg-form">
    <div class="jumbotron text-center">
        <h1>Jumpeno</h1>
        <hr style="background-color: azure;" />
        <div style="color: azure;">
            <h3>Game Info</h3>
            <p>
                Jumpeno is battle-royale type of game. Jumping is the key. Crush head of other players in order to win. <br />
                On PC move your charaster with left, right arrow and jump with space.
            </p>
        </div>
        <p class="text-warning">Mobile devices should be used as game controller while watching on friend's monitor. </p>
        <p class="text-success">Good luck.</p>
    </div>
    @if (!string.IsNullOrWhiteSpace(GameCode)) {
        <button class="btn btn-info" @onclick="HandleSpectate">I want just to Spectate.</button>
    }
    <button class="btn btn-success" @onclick="HandlePlay">I want to Play!</button>
</div>

@code {

    [Parameter]
    public string GameCode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var value)) {
            Console.WriteLine(value);
        }

        //if (!string.IsNullOrWhiteSpace(GameCode)) {
        //    await LocalStorage.SetItemAsync("code", GameCode);
        //    Navigation.NavigateTo($"/game/{GameCode}");
        //} else {
        //    var code = await LocalStorage.GetItemAsStringAsync("code");
        //    if (!String.IsNullOrWhiteSpace(code)) {
        //        Navigation.NavigateTo($"/game/{GameCode}");
        //    }
        //}
    }

    private async Task HandleSpectate()
    {
        Player.Spectator = true;
        await Http.GetAsync("api/auth/spectatorSignIn");
        Navigation.NavigateTo($"/game/{GameCode}");
    }

    private void HandlePlay()
    {
        if (string.IsNullOrWhiteSpace(GameCode)) {
            Navigation.NavigateTo("/gamesettings");
        } else {
            Navigation.NavigateTo($"/game/{GameCode}");
        }

    }
}